@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #a8a7a7;
  --tertiary: #303030;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1d;
    --foreground: #ededed;
    --accent: #8c8c8c;
    --tertiary: #494949;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
